[submodule "modules/erc20"]
	path = modules/erc20
	url = git@github.com:maple-labs/erc20.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git@github.com:maple-labs/non-transparent-proxy.git
[submodule "modules/forge-std"]
	path = modules/forge-std
	url = git@github.com:foundry-rs/forge-std.git
[submodule "modules/globals"]
	path = modules/globals
	url = git@github.com:maple-labs/globals-v2.git
